In [1]:
#impotation de la librairie
import pandas as pd

In [2]:
netflix_titles= pd.read_csv('/home/nidhal/Netflix_Project/netflix_titles.csv')

In [3]:
netflix_shows = pd.read_csv('/home/nidhal/Netflix_Project/Netflix_Shows.csv')

In [ ]:
netflix_titles.head()

In [ ]:
netflix_shows.head()

In [4]:
# print(netflix_titles['show_id'].dtype)
# print(netflix_titles['type'].dtype)
# print(netflix_titles['title'].dtype)
# print(netflix_titles['director'].dtype)
# print(netflix_titles['cast'].dtype)
# print(netflix_titles['country'].dtype)
# print(netflix_titles['date_added'].dtype)
# print(netflix_titles['release_year'].dtype)
# print(netflix_titles['rating'].dtype)
# print(netflix_titles['duration'].dtype)
# print(netflix_titles['listed_in'].dtype)
# print(netflix_titles['description'].dtype)

netflix_titles.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
d=0
thislist = ['type', 'title', 'director', 'cast', 'country', 'date_added', 'rating', 'duration', 'listed_in', 'description']
for d in range(0, len(thislist)) : 
    l=0
    for x in netflix_titles[thislist[d]] : 
        if len(str(x))>l : 
            l=len(x)
    print("la taille max du " + thislist[d]+ " = " + str(l))

la taille max du type = 7
la taille max du title = 104
la taille max du director = 208
la taille max du cast = 771
la taille max du country = 123
la taille max du date_added = 19
la taille max du rating = 8
la taille max du duration = 10
la taille max du listed_in = 79
la taille max du description = 248

Remarque : 
pour la création et la manipulaton de ma base de données, j'ai utilisé le terminal, ci-après je mets des copier-collers des instructions et requètes que j'ai tapés sur mon terminal.

In [ ]:
mysql -u nidhal -p      //   mysql -u nidhal -p --default-character-set='utf8'

SHOW DATABASES
CREATE DATABASE netflix;
USE netflix ;


CREATE TABLE netflix_title(
    -> show_id int,
    -> type  varchar(8) not null,
    -> title  varchar(105) not null,
    -> director  varchar(209) not null,
    -> cast  varchar(778) not null,
    -> country  varchar(124) not null,
    -> date_added  DATE not null,
    -> release_year INT NOT NULL,
    -> rating  varchar(9) not null,
    -> duration  varchar(11) not null,
    -> listed_in  varchar(80) not null,
    -> description  varchar(251) not null
    -> PRIMARY KEY (show_id)
    -> );

CREATE TABLE netflix_shows( 
    title VARCHAR (64), 
    rating VARCHAR(9), 
    ratingLevel VARCHAR(126),  
    ratingDescription INT NOT NULL, 
    release_year INT NOT NULL, 
    user_rating_score VARCHAR(4), 
    user_rating_size INT NOT NULL 
    );


SHOW TABLES ;

In [ ]:
LOAD DATA LOCAL INFILE '/home/nidhal/Netflix_Project/netflix_titles.csv'
INTO TABLE netflix_title
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n';
IGNORE 1 ROWS;

SHOW COLUMNS FROM netflix_title ;



CREATE TABLE netflix_shows( title VARCHAR (64), rating VARCHAR(9), ratingLevel VARCHAR(126),  ratingDescription INT NOT NULL, release_year INT NOT NULL, user_rating_score VARCHAR(4), user_rating_size INT NOT NULL );

LOAD DATA LOCAL INFILE '/home/nidhal/Netflix_Project/Netflix_Shows.csv' 
INTO TABLE netflix_shows 
FIELDS TERMINATED BY ',' 
ENCLOSED BY '"' 
LINES TERMINATED BY '\n' 
IGNORE 1 ROWS;

SHOW COLUMNS FROM netflix_shows ;

In [ ]:
Question : 6
    
SELECT title FROM netflix_title WHERE show_id <80000000;

Question : 7
    
SELECT duration FROM netflix_title WHERE type = 'TV Show';

question 9 : 
    
SELECT t.title, s.title FROM netflix_title t, netflix_shows s WHERE t.title = s.title;

question 10 : 

SELECT SUM(nom_colonne)
FROM table

SELECT SUM(duration)
-> FROM netflix_title
-> WHERE type='Movie' ;


question 11 : 
    
SELECT COUNT(*) AS nb  FROM netflix_title tvs, netflix_shows rtl WHERE rtl.ratingLevel IS NOT NULL && tvs.type = 'TV Show' ;


question 12 : 
    
SELECT COUNT(*) AS nb  FROM netflix_title tvs, netflix_shows rtl WHERE rtl.ratingLevel IS NOT NULL && tvs.type = 'TV Show' ;


question 13 : 
    
ALTER TABLE netflix_shows
DROP rating ;


question 14 : 
    
ALTER TABLE netflix_shows ADD id INT PRIMARY KEY AUTO_INCREMENT;
DELETE FROM netflix_shows
-> where id>900 ; 


question 15 : 
    
SELECT *  FROM netflix_shows where ratingLevel = '' ;    => tableau de 57 lignes

UPDATE netflix_shows SET ratingLevel = 'ratingLevel _comment' WHERE title = "Marvel's Iron Fist" && ratingLevel='';

SELECT *  FROM netflix_shows where ratingLevel = '' ;    => tableau de 53 lignes (4 cases vide ont étés remplises)